:root{
    --mainColor: #ea4420;
    --subColor: #ff6c00;
    --hover: #ff6c00;
    --textColor: #000000;
    --price: #d31100;
    --bgHeader: #000000;
    --txtHeader: #ffffff;
    --bgBodySub: #ffe6e0;
    --bgincol: linear-gradient(to right, #ea4420, rgba(234, 68, 32, 0.8), rgba(234, 68, 32, 0.3), rgba(234, 68, 32, 0));
}
@keyframes zoom-in-out {
    0% {
        transform: scale(0.8, 0.8)
    }
    10%,20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate(-8deg)
    }
    30%,50%,70%,90% {
        transform: scale3d(1, 1, 1) rotate(8deg)
    }
    40%,60%,80% {
        transform: scale3d(1, 1, 1) rotate(-8deg)
    }
    100% {
        transform: scale(0.9)
    }
}
@keyframes shine {
    0% {
        left: -75%;
    }
    100% {
        left: 125%;
    }
}
html {
    scroll-behavior: smooth;
}
body{
    position: relative;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
ul{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
a{
    color: var(--textColor);
    text-decoration: none;
}
main{
    flex: 1;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.mx-15{
    margin: 0 -15px;
}
.px-15{
    padding: 0 15px;
}
#scrollToTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--mainColor);
    color: #fff;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    display: none;
    cursor: pointer;
    text-align: center;
}
.top-header{
    padding: 10px 0;
    background-color: var(--bgHeader);
}
.item-logo{
    width: 200px;
    height: 40px;
}
.item-search{
    position: relative;
}
.item-search form{
    position: relative;
    max-width: 100%;
    background-color: #fff;
    border-radius: 5px;
}
.item-search input{
    height: 40px;
    line-height: 40px;
    border: 0px;
    background: transparent;
    padding-right: 45px;
}
.btn-search{
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 0;
    right: 0;
    padding: 0px;
    border-radius: 5px;
    background: transparent;
}
.header-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}
.item-icon-cart{
    display: inline-block;
    position: relative;
}
.item-icon-menu{
    display: none;
    cursor: pointer;
}
.item-icon-menu i,
.item-icon-cart i{
    font-size: 26px;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
}
#countCart{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--mainColor);
    text-align: center;
    line-height: 18px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
}
#resultSearch{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
    border: solid 1px #dfe3e8;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 7px;
}
.search-title{
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    font-weight: 600;
}
.search-list a{
    display: inline-block;
    padding: 3px 7px;
    border: 1px solid var(--mainColor);
    line-height: normal;
    background: var(--bgBodySub);
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.header-menu{
    background: #fff;
    position: relative;
}
.header-fixed .header-menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}
.item-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-nav>li>a{
    display: inline-block;
    padding: 15px 10px;
    font-weight: 500;
}
.dropdown-content{
    display: none;
    background: #fff;
    padding: 10px 0px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    width: 100%;
    box-shadow: 0px 2px 6px 0px rgba(200, 16, 61, 0.33);
}
.link-level-1{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
}
#menuMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    z-index: 9999;
    padding-top: 50px;
    transition: ease-in-out 0.4s;
    opacity: 0;
    overflow: hidden;
}
#header.show-menu #menuMobile{
    width: auto;
    opacity: 1;
}
#header.show-menu::after{
    content: " ";
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}
#itemHideMenu{
    position: absolute;
    font-size: 30px;
    color: #f00808;
    top: 0px;
    right: 15px;
}
.item-logo-mobile{
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
}
.item-nav-mobile{
    height: 90%;
    overflow-y: auto;
}
.item-nav-mobile li{
    position: relative;
}
.item-nav-mobile a{
    display: block;
    padding: 5px 10px;
    color: #222;
    font-size: 16px;
}
.item-nav-mobile i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    top: 0;
    right: 0;
    transition: 0.5s all;
    cursor: pointer;
    position: absolute;
}
.sub-menu{
    display: none;
}
.my-product,
.my-slider{
    position: relative;
}
.item-slider{
    width: 100%;
    height: 700px;
}
.slick-arrow{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    background-color: var(--bgBodySub);
    color: var(--mainColor);
    z-index: 2;
    cursor: pointer;
}
.slick-prev{
    left: 15px;
}
.slick-next{
    right: 15px;
}
.my-slider .slick-arrow{
    top: 50%;
}
.section-index{
    position: relative;
    padding: 30px 0;
}
.item-benefit{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.item-benefit-image{
    margin-right: 15px;
}
.item-benefit-image img{
    width: 50px;
    height: 50px;
}
.item-benefit-info h3{
    font-size: 16px;
    margin-bottom: 3px;
    font-weight: bold;
    line-height: 16px;
}
.item-benefit-info span{
    opacity: 0.75;
    font-size: 14px;
}
.item-collection{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.item-collection-info{
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--bgincol);
    padding: 10px;
    width: 100%;
}
.item-collection-info h3{
    font-weight: 600;
    line-height: 23px;
    font-size: 18px;
    margin-bottom: 0px;
    color: #fff;
}
.item-collection-info a{
    text-decoration: underline;
    font-weight: 600;
    color: #fff;
}
.item-category-title{
    text-align: center;
}
.item-category-title h2{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #888888;
}
.item-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item-category-info{
    position: relative;
    width: 100%;
    padding: 0 10px;
    flex: 0 0 calc(100% / 4);
    max-width: calc(100% / 4);
    margin-bottom: 15px;
    min-height: 55px;
}
.item-category-info a{
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
.item-category-info img{
    margin-right: 15px;
    position: relative;
    height: 55px;
    width: 80px;
    border-radius: 5px;
}
.item-category-content{
    display: flex;
    font-weight: bold;
}
.item-category-content h3{
    margin: 0 8px 0 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}
.item-category-content span{
    margin-top: -10px;
}
.item-sale-product{
    padding: 20px;
    background-color: var(--mainColor);
    border-radius: 10px;
}
.item-sale-product-header{
    position: relative;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-sale-product-header h2{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0px;
    display: inline-block;
}
.item-sale-product-header a{
    color: #fff;
}
.item-sale-product-header img{
    height: 30px;
    width: 30px;
    animation: zoom-in-out 1500ms infinite;
}
.item-sale-product-count-down{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.item-sale-product-count-down p{
    background: var(--mainColor);
    border-radius: 10px;
    color: #fff;
    margin: 0px 3px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #fff;
    padding: 0 15px;
}
.item-product{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 0px 6px 0px rgba(50, 50, 93, 0.15), 1px 1px 5px rgba(0, 0, 0, 0.05);
}
.item-product-image{
    position: relative;
    overflow: hidden;
}
.item-product-info{
    padding: 10px;
}
.item-product-info h3{
    font-size: 16px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.item-product-discount{
    color: var(--price);
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    margin-right: 12px;
}
.item-product-flash-sale{
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background-color: var(--subColor);
    border-radius: 10px 10px 10px 0px;
    padding: 2px 7px;
}
.item-product-price{
    display: block;
    color: #9aa5b3;
    text-decoration: line-through;
}
.item-product-badge{
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 2;
    width: 75px;
}
.item-product-badge span{
    border-radius: 7px;
    width: 75px;
    display: inline-block;
    height: 22px;
    line-height: 21px;
    font-weight: 500;
    font-size: 12px;
    color: var(--txtHeader);
    text-align: center;
}
.item-product-badge-new{
    margin-bottom: 5px;
    background-color: #f6a733;
}
.item-product-badge-best{
    background-color: #af0102;
}
.item-product-vendor-color{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.item-product-vendor{
    color: #969696;
    font-size: 13px;
    text-transform: uppercase;
}
.item-product-color span{
    border: 1px solid var(--mainColor);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
}
.my-product .slick-arrow{
    top: 35%;
    width: 35px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
}
.my-product .slick-prev{
    left: -5px;
}
.my-product .slick-next{
    right: -5px;
}
.section-adv-first .container{
    position: relative;
}
.item-adv-first-sub-title{
    text-transform: uppercase;
}
.item-adv-first-title{
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
}
.item-adv-first-image{
    border-radius: 15px;
    overflow: hidden;
}
.item-adv-first-bg{
    position: absolute;
    font-size: 245px;
    top: -30px;
    left: 0;
    z-index: -1;
    line-height: 150px;
    color: #f8f8f8;
    font-weight: 700;
    text-transform: uppercase;
}
.title-index{
    position: relative;
    text-align: center;
    margin-bottom: 25px;
}
.title-index h2{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0px;
    text-transform: capitalize;
}
.sub-title-index{
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #62646d;
    position: relative;
    padding: 10px 0;
}
.sub-title-index:after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 60px;
    background-color: #000;
}
.item-product-tab{
    position: relative;
    margin-top: 15px;
}
.item-product-tab li{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #62646d;
    transition: background-color 0.3s ease;
    margin: 0 15px;
    text-transform: capitalize;
    cursor: pointer;
}
.item-product-tab li.active{
    color: var(--mainColor);
}
.my-all-product  .slick-arrow{
    top: -60px;
    transform: translateY(0);
    width: 35px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
}
.item-adv-image{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.item-blog-image{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.item-blog-info{
    margin-top: 10px;
    position: relative;
}
.item-blog-info h3{
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}
.item-blog-info p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.read-more{
    font-weight: 600;
}
.my-blog .slick-arrow{
    top: 30%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
}
.mid-footer{
    position: relative;
    padding: 30px 0;
    background: #f8f8f8;
}
.logo-footer{
    max-width: 200px;
}
.copyright{
    background: var(--mainColor);
    color: var(--txtHeader);
    padding: 10px 0;
    text-align: center;
}
.copyright a{
    color: var(--txtHeader);
}
@media (min-width: 992px) {
    .slick-arrow:hover,
    .search-list a:hover,
    .btn-search:hover{
        color: #fff;
        background: var(--mainColor);
    }
    .mid-footer a:hover,
    .read-more:hover,
    .item-blog-info h3 a:hover,
    .item-product-tab li:hover,
    .title-index h2 a:hover,
    .item-product-info h3 a:hover,
    .item-category-info a:hover,
    .item-nav>li>a.active,
    .item-nav a:hover{
        color: var(--mainColor);
    }
    .item-collection-info a:hover{
        color: var(--textColor);
    }
    .item-sale-product-header a:hover{
        color: var(--hover);
    }
    .item-product-image::before{
        content: '';
        position: absolute;
        top: -100%;
        left: -75%;
        width: 50%;
        height: 300%;
        background: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 100%
        );
        transform: skewX(-25deg);
    }
    .item-product:hover .item-product-image::before {
        animation: shine 1s ease-in-out;
    }
    .section-adv-first{
        padding-top: 95px;
    }
    .section-adv-first .row{
        align-items: center;
    }
}
@media (max-width: 991px) {
    .header-left{
        order: 1;
    }
    .header-right{
        order: 2;
    }
    .header-mid{
        margin-top: 10px;
        order: 3;
    }
    .item-icon-menu{
        display: inline-block;
    }
    .header-menu{
        display: none;
    }
    .item-benefit{
        flex-flow: column;
        margin-bottom: 15px;
        text-align: center;
    }
    .item-benefit-image{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .item-category-info{
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
    }
    .my-blog .slick-arrow{
        top: 32%;
    }
    .item-slider{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 767px) {
    .item-category{
        grid-template-columns: repeat(4, 1fr);
        display: grid;
        overflow: auto;
        justify-content: start;
        align-items: center;
        width: 100%;
    }
    .item-category-info {
        flex: 0 0 240px;
        max-width: 240px;
        width: 240px;
    }
    .item-product-tab li{
        display: block;
        margin-bottom: 10px;
    }
    .item-sale-product-header{
        display: grid;
        justify-content: center;
        text-align: center;
    }
    .item-sale-product-header h2{
        margin-bottom: 10px;
    }
    .item-collection-info{
        padding: 5px;
    }
    .item-collection-info h3{
        font-size: 12px;
        line-height: 1;
    }
    .item-collection-info a{
        font-size: 10px;
    }
    .item-adv-first-title{
        margin-bottom: 15px;
    }
    .item-adv-first-title,
    .title-index h2{
        font-size: 20px;
        line-height: 28px;
    }
    .item-product-tab li,
    .sub-title-index{
        font-size: 14px;
        line-height: 24px;
    }
}